<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
              http://www.springframework.org/schema/beans
              http://www.springframework.org/schema/beans/spring-beans.xsd
              http://www.springframework.org/schema/context
              http://www.springframework.org/schema/context/spring-context.xsd">



<context:property-placeholder location="classpath:Math_for_programming.properties"/>

    <bean id="new_book"
          class="com.example.springEducation.Textbook"
          scope="prototype"
            init-method="onInit"
            destroy-method="onDestroy"
    >
        <property name="num_of_pages" value="${new_book.num_of_pages}"/>
        <property name="price" value="${new_book.price}"/>
        <property name="title" value="${new_book.title}"/>
    </bean>

    <bean id="new_book_default" class="com.example.springEducation.Textbook">
        <property name="num_of_pages" value="2000"/>
        <property name="price" value="900"/>
        <property name="title" value="Math for programming"/>
    </bean>


    <bean id="book_show" class="com.example.springEducation.Books_show">
        <constructor-arg ref="new_book"/>
    </bean>

</beans>

